@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import "../../../../vendor/filament/filament/resources/css/base.css";

@config 'tailwind.config.js';
:root {
    --f-primary-600: #339e8b;
}
